
<div class="container">
  <div class="jumbotron" id="monthly">
    <div class="container">
      <%= render "monthly_progress" %>
      <%= link_to 'Create new budget', "/users/#{current_user.id}/budgets/new" %>
    </div>
  </div>
  <div class="jumbotron" id="annual">
    <div class="container">
      <h2>ANNUAL BUDGET</h2>
      <h2>ANNUAL BUDGET</h2>
      <h2>ANNUAL BUDGET</h2>
      <h2>ANNUAL BUDGET</h2>
      <h2>ANNUAL BUDGET</h2>
      <h2>ANNUAL BUDGET</h2>
    </div>
  </div>

</div>
