<div class="jumbotron myBg welcome">
  <h1>Welcome to Gint!</h1>
  <p>The personal budgeting app that no one will use.</p>
  <a href="/users/new"><button type="button" class="btn btn-default" id="signup-btn">Sign Up Now!</button></a>
</div>

<div class="jumbotron myBg welcome">
  <h1>Why are you here?</h1>
  <p>Why use the perfectly awesome Mint app by Intuit when you can use my Ghetto version called Ghint!</p>
</div>

<div class="jumbotron myBg welcome">
  <h1>Going on a trip?</h1>
  <p>Plan your trip's budget here!</p>
</div>

<footer>
    <div class="jumbotron">
        <div class="row">
              <div class="col-md-4">
                <center>
                  <h3 class="footertext">About the developer</h4>
                  <p class="footertext">Name: James Tak <br> Education: UCLA and General Assembly</p>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <h3 class="footertext">Fake Copyright</h4>
                  <p class="footertext">&copy; 2016 Gint<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <h3 class="footertext">Github</h4>
                  <p class="footertext"><a href="https://github.com/jtak93">My portfolio<br>
                </center>
              </div>
        </div>
    </div>
</footer>
