<div class="container myBg">
  <div class="jumbotron myBg">
    <h1>Welcome to Gint!</h1>
    <p>The personal budgeting app that no one will use</p>
  </div>
  <p>This is some text.</p>
  <p>This is another text.</p>
</div>

<div class="container myBg">
  <div class="jumbotron myBg">
    <h1>Why are you here?</h1>
    <p>Why use the perfectly awesome Mint app by Intuit when you can use my Ghetto version callled Ghint!</p>
  </div>
</div>

<div class="container myBg">
  <div class="jumbotron myBg">
    <h1>Header</h1>
    <p>COOLCOOLCOOL</p>
  </div>

</div>
