<div class="jumbotron myBg welcome">
  <h1>Welcome to Gint!</h1>
  <p>The personal budgeting app that no one will use.</p>
  <a href="/users/new"><button type="button" class="btn btn-default" id="signup-btn">Sign Up Now!</button></a>
</div>

<div class="jumbotron myBg welcome">
  <h1>Why are you here?</h1>
  <p>Why use the perfectly awesome Mint app by Intuit when you can use my Ghetto version called Ghint!</p>
</div>

<div class="jumbotron myBg welcome">
  <h1>Going on a trip?</h1>
  <p>Plan your trip's budget here!</p>
</div>

<footer>
    <div class="jumbotron">
        <div class="row">
              <div class="col-md-4">
                <center>
                  <h4 class="footertext">Made by</h4>
                  <p class="footertext">You can thank all the crazy programming here to this guy.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <h4 class="footertext">Artist</h4>
                  <p class="footertext">All the images here are hand drawn by this man.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <h4 class="footertext">Designer</h4>
                  <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                </center>
              </div>
        </div>
    </div>
</footer>
