<div class="jumbotron">
  <div class="container">
    <h2>COOL</h2>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>COOL</h2>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>COOL</h2>
  </div>
</div>
