/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

#login-btn {
  margin-top: 0px;
}
#signup-btn {
  margin-top: -18px;

}


.jumbotron {
  background:  rgba(30,30,30,1);
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

.welcome {
  text-align: center;
}
.navbar-custom {
  background-color: rgba(30,30,30,1);
}

.modal-body {
  background-color: rgba(30,30,30,1);
  input {
    color: black;
  }
  select {
    color: black;
  }
}

.modal-header {
  background-color: rgba(30,30,30,1);
}

.modal-footer {
  background-color: rgba(30,30,30,1);
}

// login modal

