// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-up-form {
  width: 50%;
  h1{
    text-align: center;
  }
}

#sign-up-email {
  margin: 0 auto;
}
